<header class="flex justify-center items-center py-5 w-full  ">
    <nav class="flex mx-2 lg:mx-4 gap-4 lg:gap-6 text-sm lg:text-lg">
        <a href="/">Home</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#formacion">Formación</a>
        <a href="#sobre-mi">Sobre mí</a>
    </nav>
</header>