
<div class="flex justify-between mb-1">
  <span class="text-sm font-medium text-white opacity-65">Tecnicatura en Desarrollo web</span>
  <span class="text-sm font-medium text-white opacity-65">80%</span>
</div>
<div class="w-full bg-white opacity-90 rounded-full h-3">
  <div class="bg-green-300/90 h-3 rounded-full" style="width:80%"></div>
</div>
